@import url(https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);

*{
    font-family: "Roboto", sans-serif;
}

body{
    background-image: linear-gradient(grey,rgb(30 30 30),rgb(30 30 30),rgb(30 30 30),rgb(30 30 30),grey);
}


.conteneur{
    display: grid;
    height: 95vh;
    grid-gap: 8px;
    grid-template-columns: 1fr;
    grid-template-rows: 13% 10% 1fr 15%;
    grid-template-areas: 
                    "header"
                    "nav"
                    "main"
                    "footer";

}

header{
    grid-area: header;
    text-align: center;
    align-content: center;
    color: white;
    font-weight: bold;
    font-size: 4em;
    
}

.logo{
    display: inline-block;
}

.ski{
    height: 50px;
    float: left;
    border-radius: 30px;
    margin-top: 15px;
}

nav{
    grid-area: nav;
    border-radius: 30px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    background-color: grey;

}

.lien{
    display: inline-block;
    padding: 1em;
    align-content: center;
    margin: auto;
    border-radius: 20px;
    height: 20px;
    color: white;
}

.lien:hover{
    background-color: rgb(255, 186, 49);
    border-radius: 20px;
    height: 20px;
}

main{
    color: white;
    justify-items: center;
}

.box{
    height: 90px;
    width: 90px;
    background-color: crimson;
    margin: 10px;
}

.box:empty{
    background-color: rgb(255, 186, 49);
}

.selection::selection{
    background-color: crimson;
    color: rgb(255, 186, 49);
}

.after::after{
    color: crimson;
    content: "Ceci est l'élement";
}

.before::before{
    color: rgb(255, 186, 49);
    content: "Ceci est l'élement";
}

.first::first-line{
    font-size: 1.3em;
    background-color: crimson;
    font-style: italic;
}

footer{
    grid-area: footer;
    border-radius: 30px;
    background-color: grey;
    align-content: center;
    justify-items: right;
    padding-right: 20px;
    font-size: 0.9em;
    color: white;
}

.source{
    padding-top: 10px;
    color: white;
}

.source:hover{
    color: blue;
}